commands:
  01_install_composer:
    command: "sudo curl -sS https://getcomposer.org/installer | sudo php -- --install-dir=/usr/local/bin --filename=composer"
  02_update_composer:
    command: "sudo composer self-update"

container_commands:
  01_composer_install:
    command: "sudo -u webapp composer install --no-dev --optimize-autoloader --no-interaction"
    leader_only: true
  02_clear_cache:
    command: "sudo -u webapp php artisan config:clear"
    leader_only: true
